body{
    text-align: center
}
.line{
    height: 6px;
    background-color: palevioletred;
    width: 70px;
    margin: 8px;
}
h1{
    font-size: 40px;
    font-family: fantasy;
    font-weight: 300;
}
#app{
    width: 100%;
    height: 800px;
    background-color: lightpink;
}
#game{
    width: 100%;
    height: 800px;
    background-color: plum;
}
#chatbot{
    width: 100%;
    height: 800px;
    background-color: hotpink;
}
img{
    transition: transform .2s;
}
ime:hover{
    transform: scale(0.9)
}